:host {
  display: block;
}

.card__primary {
  padding: 1rem;
}

.card__title {
  margin: 0;
  color: black;

  &:hover {
    color: var(--mdc-theme-primary)
  }
}

.card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.card__secondary {
  padding: 0 1rem 8px;
}

.mdc-card__media--16-9:before {
  margin-top: 40.25%;
}

.mdc-chip-set {
  margin-left: -5px;

  .mdc-chip--primary {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-primary-on-light);
  
    &:hover {
      color: var(--mdc-theme-text-primary-on-light);
    }
  }
}