.card__primary {
  padding: 1rem;
}

.card__title {
  margin: 0;
}

.card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.card__secondary {
  padding: 0 1rem 8px;
  padding-top: 1rem;
}