.post-detail {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  min-height: calc(100vh - 64px);

  @media screen and (max-width: 600px) {
    min-height: calc(100vh - 56px);
  }

  &__header {
    display: flex;
    padding: 1rem;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-primary-on-light);

    &__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__action {
      display: flex;
      align-items: center;
    }
  }

  &__body {
    &__content {
      margin: 1rem;
    }

    &__author {
      margin: 1rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  .additional-information {
    display: block;
    width: 300px;
    min-width: 300px;
    min-height: calc(100vh - 64px);
    padding: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.12);

    .additional-information-inner {
      display: flex;
      flex-direction: column;
      position: sticky;

      & > :not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    

    .header {
      margin: 0 0.5rem;
      font-weight: 700;
    }

    .comments {
      .header {
        margin-bottom: 0.5rem;
      }

      .comment-box {
        width: 100%;
      }

      .mdc-textfield-wrapper {
        padding: 0 0.5rem;
      }
    }

    .mdc-chip--primary {
      background-color: var(--mdc-theme-primary);
      color: var(--mdc-theme-text-primary-on-light);
    
      &:hover {
        color: var(--mdc-theme-text-primary-on-light);
      }
    }
  }
}

.wrapper {
  animation: fade-in 200ms ease-in-out both;
  flex-grow: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}