.post-detail {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;

  &__header {
    display: flex;
    padding: 1rem;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-primary-on-light);

    &__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__action {
      display: flex;
    }
  }

  &__body {
    &__content {
      margin: 0.5rem;
    }

    &__author {
      margin: 1rem;
      display: flex;
      justify-content: flex-end;
    }
  }
}