.post-detail {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  overflow: hidden;

  @media screen and (max-width: 600px) {
    min-height: calc(100vh - 56px);
  }

  &__header {
    display: flex;
    padding: 1rem;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-primary-on-light);

    &__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__action {
      display: flex;
      align-items: center;
    }
  }

  &__body {
    &__content {
      margin: 1rem;
    }

    &__author {
      margin: 1rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  .additional-information {
    display: block;
    width: 300px;
    min-width: 300px;
    padding: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    transform: translateX(317px);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);

    &.open {
      transform: translateX(0);
    }

    .additional-information-inner {
      display: flex;
      flex-direction: column;
      position: sticky;

      & > :not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    

    .header {
      margin: 0 0.5rem;
      font-weight: 700;
    }

    .comments {
      .header {
        margin-bottom: 0.5rem;
      }

      .comment-box {
        width: 100%;
      }

      .mdc-textfield-wrapper {
        padding: 0 0.5rem;
      }
    }

    .mdc-chip--primary {
      background-color: var(--mdc-theme-primary);
      color: var(--mdc-theme-text-primary-on-light);
    
      &:hover {
        color: var(--mdc-theme-text-primary-on-light);
      }
    }

    .action-button {
      display: flex;
      margin-left: 0.5rem;

      & > :not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

.wrapper {
  animation: fade-in 200ms ease-in-out both;
  flex-grow: 1;
  overflow: auto;
  margin-right: -317px;
  transition: margin 200ms cubic-bezier(0.4, 0, 0.2, 1);

  &.panel-open {
    margin-right: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next-previous-panel {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;

  > a {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-transform: initial;
    color: black !important;
    padding: 0.5rem 1rem;
    height: auto;
    
    > :not(:last-child) {
      margin-right: 0.7rem;
    }
  }

  .prev-button {
    justify-content: flex-start;
  }

  .next-button {
    justify-content: flex-end;

    .np_text {
      text-align: right;
    }
  }

  .np_text {
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .np_header, .material-icons {
      color: var(--mdc-theme-primary);
    }
  }
}