.category-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: var(--mdc-theme-primary);
  text-decoration: none;
  color: var(--mdc-theme-text-primary-on-light);
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  .main-text {
    transition: transform 200ms ease-in-out;
    transform: translateY(15px);

    &.hover {
      transform: translateY(5px);
    }
  }

  .subtitle {
    transition: opacity 200ms ease-in-out;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}