.tooltip {
  animation-duration: 200ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: fade-in;
}

.isClosing {
  animation-name: fade-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}