:host {
  display: block;
}

.banner-wrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-y: 100%;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-primary-on-light);
  padding: 1rem 0;

  h1 {
    margin-top: 0;
    text-align: center;
  }

  .slogan {
    height: auto;
    min-height: 36px;
    text-align: center;
    letter-spacing: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0 0.5rem;
  }

  mwc-button.cs-slogan {
    --mdc-theme-primary: var(--mdc-theme-text-primary-on-light);
  }

  .btn-learn-about {
    --mdc-theme-primary: var(--mdc-theme-text-primary-on-light);
    --mdc-theme-on-primary: var(--cs-theme-primary);
  }
}