.wrapper {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

  & > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}