.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
  height: calc(100vh - 64px);
  padding-top: 0 !important;
  margin-top: 64px;
}

.mdc-drawer-app-content__mobile {
  margin-top: 55px;
}

.main-content {
  overflow: auto;
  width: 100%;
  // height: calc(100vh - 64px);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.main-content__mobile {
  border-left: 0;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7 !important;
}

.header-text {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif !important;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.11);
  }
}

.mdc-drawer {
  position: sticky;
  top: 0;
  border: none !important;
  width: 300px;
}

.mdc-drawer--modal__mobile {
  position: absolute !important;
  margin-top: 0;
  z-index: 67;
}

.mdc-drawer-scrim {
  z-index: 66;
}

.drawer-frame-root {
  display: flex;
  // height: calc(100vh - 64px);
}

.mdc-drawer .mdc-list-item--activated {
  color: var(--mdc-theme-primary);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-primary);
}

.mdc-text-field-wrapper {
  margin: 0.5rem 1rem;

  mwc-textfield {
    width: 100%;
  }
}

.button-text {
  border-radius: 4px;
  padding: 0 0.75rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 0.15rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.11);
  }
}