.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
  height: calc(100vh - 64px);
  padding-top: 0 !important;
  margin-top: 64px;
}

.mdc-drawer-app-content__mobile {
  margin-top: 55px;
}

.main-content {
  overflow: auto;
  width: 100%;
  // height: calc(100vh - 64px);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.main-content__mobile {
  border-left: 0;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7 !important;
}

.header-text {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif !important;

}

.mdc-drawer {
  position: sticky;
  top: 0;
  border: none !important;
  width: 300px;
}

.mdc-drawer--modal__mobile {
  position: absolute !important;
  margin-top: 56px;
  z-index: 6;
}

.drawer-frame-root {
  display: flex;
  // height: calc(100vh - 64px);
}